<form action="" method="post" class="flex flex-col items-center w-[600px] h-max gap-5">
    <div class="form-control w-full">
        <div class="label">
            <span class="label-text">Name</span>
            <span class="label-text-alt">Required</span>
        </div>
        <input type="text" placeholder="Type here" class="input input-bordered w-full" name="name"/>
    </div>
    <div class="form-control w-full">
        <div class="label">
            <span class="label-text">Phone</span>
            <span class="label-text-alt">Required</span>
        </div>
        <input type="text" placeholder="Type here" class="input input-bordered w-full" name="phone"/>
    </div>
    <div class="form-control w-full">
        <div class="label">
            <span class="label-text">Email</span>
            <span class="label-text-alt">Required</span>
        </div>
        <input type="email" placeholder="Type here" class="input input-bordered w-full" name="email"/>
    </div>
    <div class="flex justify-end w-full">
        <button class="btn btn-primary
         btn-normal">Submit</button>
    </div>
</form>