<div class="w-full flex flex-col justify-center items-center h-screen">
    <h1 class="text-8xl text-slate-300">500</h1>
    <span class="text-3xl overline text-red-500">Internal Server Error</span>
    <a href="/" class="mt-5">&laquo;&laquo; Kembali ke halaman utama</a>
</div>