<div class="fixed top-0 left-0 p-10">
    <a href="/dashboard">Kembali</a>
</div>
<div class="p-10 flex flex-col gap-2">
    <% if (typeof(errors) !== 'undefined') { %>
        <% errors.forEach(error => { %>
            <div role="alert" class="alert alert-error">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span><%= error.msg %></span>
            </div>
        <% }) %>
    <% } %>
</div>
<div class="w-full flex justify-center pt-32 pb-10">
    <h1 class="text-5xl">Tambah Data Pengguna</h1>
</div>
<div class="flex justify-center w-full">
    <%- include('./components/form.ejs') %>
</div>